.bank_conatiner_add_k {
    margin: 30px 0 0 0;
 width: 100% !important;
}

.custom-select-option-list {
border:1px solid #ccc;
}

div.custom-select-box li {
cursor:pointer;
}

.icon_BCP {
    background-image: url(./images/icons/bcp-color.svg);
    background-repeat: no-repeat;
    background-position: 1vw, center;
    background-size: 46%;
    padding: 1vh 1vw 1vh 1vw;
    font-size: .9em;
    height: 17px;
}

.icon_BITBK {
    background-image: url(./images/icons/interbank-color.svg);
    background-repeat: no-repeat;
    background-position: 1vw, center;
    background-size: 46%;
    padding: 1vh 1vw 1vh 1vw;
    font-size: .9em;
    height: 17px;
}

.icon_BANBIF {
    background-image: url(./images/icons/banbif-color.svg);
    background-repeat: no-repeat;
    background-position: 1vw, center;
    background-size: 46%;
    padding: 1vh 1vw 1vh 1vw;
    font-size: .9em;
    height: 17px;
}

.icon_BSTB {
     background-image: url(./images/icons/scotiabank-color.svg);
    background-repeat: no-repeat;
    background-position: 1vw, center;
    background-size: 46%;
    padding: 1vh 1vw 1vh 1vw;
    font-size: .9em;
    height: 17px;
}

.accionista_k_sub_title {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 0px solid #ccc !important;
}

.USD {
    background-image: url(images/icons/usa.svg);
}

.DOL, .PEN, .USD {
    place-self: stretch;
    grid-row: span 1;
    grid-column: 1 / 2;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}





/****************************** Admin ********************************/


.update-tables {
				padding: 1.5em;
				text-align: right;
				color: var(--btn-blue);
			}
.back-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    background-image: url(images/icons/back-arrow-blue.gif);
    height: 3.5em;
    cursor: pointer;
    padding: 1em;
}

*{
    /*font-size:11px;*/
}

.k-table{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.k-table .k-thead .k-throw th{
    padding: 10px 0;
    color: #1072aa;
    font-size: 12px;
    font-family: 'Helvetica Neue Roman';
    font-weight: normal;
    text-align:center;
}

.k-table .k-tbody tr{

}
table.k-table.k-thover > .k-tbody tr:hover
{
    background-color: #f2f2f2;
}

table.k-table.k-thover.k-trow-pointer > .k-tbody tr:hover
{
    cursor:pointer;
}



.k-table .k-tbody tr td{
    padding: 7px 0;
    font-size: 11px;
    font-family: 'Helvetica Neue Roman';
    text-align:center;
    border-bottom:1px solid #e6e6e6;
}

.k-table .k-tbody tr td span{
    font-size: 13px;
    font-family: 'Helvetica Neue Roman';
    color:#808080;
}

.k-icon {
        width: 12px;
    height: 12px;
}
.k-icon.k-status {
        border-radius: 50%;
    display: inline-block;
}
.k-icon.k-status.k-success{
    background: #46be8a;

}

.k-icon.k-status.k-danger{
    background:#e25142;
}

.k-icon.k-status.k-danger{
    background:#e25142;
}

.k-icon.k-status.k-warning{
    background:#FFA84D;
}

.k-icon.k-status.k-default{
    background:#fff;
    border:.5px solid #ccc;
}

.k-table-pagination{
        padding: 10px 0;
    display: block;
}

.k-table-pagination .p-numbers{
    display: inline-block;
    width: 37%;
}

.k-table-pagination .p-pagination{
        display: inline-block;
    width: 60%;
    text-align:right;
}

 ul.pagination{
    list-style: none;
    margin: 0;
    padding: 0;
    display:block
}

.p-pagination nav{
    display:inline-block;

}

.k-nav-pagination{
    display:inline-block;
}

.k-table-pagination .p-pagination ul.pagination li{

}

.k-number-pagination{
    padding:0 0 8px 0;
}

.k-pagination{
    margin: 6px 10px;
}



/***************************** /Admin *******************************/



.prt_subastasacivas .tb_1{
    width: 70%;
    display: inline-block;
}

.prt_subastasacivas .tb_2{
    width: 30%;
    display: inline-block;
}



div.k-icon.k-status.status_subasta_C {
    background: #F82508;
     
}

div.k-icon.k-status.status_subasta_D {
    background: #FFA84D;
    
}

div.k-icon.k-status.status_subasta_P {
    background: #FFA84D;
    
}

div.k-icon.k-status.status_subasta_E {
    background: #000;
}

div.k-icon.k-status.status_subasta_F {
    background: #29abe2;
}

div.k-icon.k-status.status_subasta_G {
    font-size:12px;
    background: #46be8a;
}

div.k-icon.k-status.status_subasta_H {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_I {
    background: #46be8a;
}

div.k-icon.k-status.status_subasta_J {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_M {
    background: #29abe2;
}

div.k-icon.k-status.status_subasta_Y {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_Z {
    background: #e25142;
}


/* Colores Estatus Generico*/


div.k-icon.k-status.status_subasta_generico_C {
    background: #46be8a;
     
}

div.k-icon.k-status.status_subasta_generico_D {
    background: #46be8a;
    
}

div.k-icon.k-status.status_subasta_generico_P {
    background: #FFA84D;
    
}

div.k-icon.k-status.status_subasta_generico_E {
    background: #46be8a;
}

div.k-icon.k-status.status_subasta_generico_F {
    background: #46be8a;
}

div.k-icon.k-status.status_subasta_generico_G {
    font-size:12px;
    background: #29abe2;
}

div.k-icon.k-status.status_subasta_generico_H {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_generico_I {
    background: #B6B7B8;
}

div.k-icon.k-status.status_subasta_generico_J {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_generico_M {
    background: #29abe2;
}

div.k-icon.k-status.status_subasta_generico_Y {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_generico_H {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_generico_J {
    background: #e25142;
}

div.k-icon.k-status.status_subasta_generico_Z {
    background: #e25142;
}

.status_generico_G {
    color: #29abe2; /*AZUL*/
    font-weight:bold;
    font-size:12px;
}

.status_generico_I {
    color: #B6B7B8; /*PLOMO*/
    font-weight:bold;
    font-size:12px;
}

.status_generico_C {
    color: #46be8a; /*VERDE*/
    font-weight:bold;
}

.status_generico_D {
    color: #46be8a;
    font-weight:bold;
}

.status_generico_E {
    color: #46be8a;
    font-weight:bold;
}

.status_generico_F {
    color: #46be8a;
    font-weight:bold;
}

.status_generico_Y {
    color: #e25142;
    font-weight:bold;
}

.status_generico_H {
    color: #e25142;
    font-weight:bold;
}

.status_generico_J {
    color: #e25142;
    font-weight:bold;
}


.status_generico_M {
    color: #29abe2;
    font-weight:bold;
}




div.k-icon.k-status.status_subasta_generico_0 {
    background: #B6B7B8;
}

.status_generico_0 {
    color: #B6B7B8;
    font-weight:bold;
}


div.k-icon.k-status.status_subasta_generico_1 {
    background: #F7AB54;
}

.status_generico_1 {
    color: #F7AB54;
    font-weight:bold;
}


div.k-icon.k-status.status_subasta_generico_2 {
    background: #F7AB54;
}

.status_generico_2 {
    color: #F7AB54;
    font-weight:bold;
}

div.k-icon.k-status.status_subasta_generico_3 {
    background: #F7AB54;
}

.status_generico_3 {
    color: #F7AB54; /* Verde Claro Proceso Pago*/
    font-weight:bold;
}

div.k-icon.k-status.status_subasta_generico_4 {
    background: #000;
} /*Verde Oscuro Realizado*/

.status_generico_4 {
    color: #000;
    font-weight:bold;
}



/*------------------------*/


.status_C {
    color: #F82508;
    font-weight:bold;
}

.status_D {
    color: #FFA84D;
    font-weight:bold;
    font-size:12px;
}

.status_E {
    color: #000;
    font-weight:bold;
    font-size:12px;
}

.status_F {
    color: #29abe2;
    font-weight:bold;
    font-size:12px;
}
.status_G {
    color: #46be8a;
    font-weight:bold;
    font-size:12px;
}

.status_I {
    color: #46be8a;
    font-weight:bold;
    font-size:12px;
}

.status_J {
    color: #e25142;
    font-weight:bold;
    font-size:12px;
}

.status_M {
    color: #29abe2;
    font-weight:bold;
    font-size:12px;
}

.status_H {
    color: #e25142;
    font-weight:bold;
    font-size:12px;
}

.status_P {
    color: #FFA84D;
    font-weight:bold;
    font-size:12px;
}
 
.status_Y {
    color: #e25142;
    font-weight:bold;
    font-size:12px;
}

.status_Z {
    color: #e25142;
    font-weight:bold;
    font-size:12px;
}


.k-content-radio{
    color: #999999;
    cursor:pointer;
}

.k-content-radio input{
    display:none;
}

.k-radioButtom-icon{
    background-image: url(images/register-auction-container/boton.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    place-self: stretch stretch;
    display:inline-block;
    width:17px;
    height:17px;
}

.k-content-radio input[type="radio"]:checked+div.k-radioButtom-icon{
    background-image: url(images/register-auction-container/boton-active.svg);
}


.k-content-radio input[type="checkbox"]:checked+div.k-radioButtom-icon{
    background-image: url(images/form-base-container/boton-active.svg);
}
.icon.tach {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    background-image: url(images/icons/trash-alt-regular.svg);
    height: 18px;
    width: 18px;
    cursor: pointer;
}


ul#menu_k  li a {

    display: block;
    padding: 15px 30px 15px 20px;
    color: #efefef;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
   border-bottom: 1px solid #cccccc42;
   font-family: 'Helvetica Neue Thin';

}

ul#menu_k  li a.firts-level span{
    font-size: 15px;
    font-weight: bold;

}

ul#menu_k  li a.firts-level i{
        height: 15px;
    display: inline-block;
    width: 15px;
    margin-right: 10px;
}

ul#menu_k  li ul{
    /*display:none;*/
}

ul#menu_k  li ul li a{

display: block;
    padding: 15px 30px 15px 20px;
    color: #efefef;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 0;
    padding-left: 18%;
    border-bottom: 1px solid #cccccc21;
}

ul#menu_k  li ul li:last-child a{
    border-bottom:none;
}

ul#menu_k  li ul li a:hover{
        background: rgba(0,0,0,0.2);
}

ul#menu_k  li ul li a i
{
    font-weight: bold;
    font-size: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-style: normal;
}
div.k-icon.k-status.status_subasta_0 {
    background: #B6B7B8;
}

.status_0 {
    color: #B6B7B8;
    font-weight:bold;
}


div.k-icon.k-status.status_subasta_1 {
    background: #29abe2;
}

.status_1 {
    color: #29abe2;
    font-weight:bold;
}


div.k-icon.k-status.status_subasta_2 {
    background: #094293;
}

.status_2 {
    color: #094293;
    font-weight:bold;
}

div.k-icon.k-status.status_subasta_3 {
    background: #B6B7B8;
}

.status_3 {
    color: #B6B7B8; /* Verde Claro Proceso Pago*/
    font-weight:bold;
}

div.k-icon.k-status.status_subasta_4 {
    background: #000;
} /*Verde Oscuro Realizado*/

.status_4 {
    color: #000;
    font-weight:bold;
}
div.dashboard-container-content .menu-area ul li{
    position:relative;
}

div.dashboard-container-content.collapsed .menu-area ul li  > ul.submenu{
    display:none;
}
div.dashboard-container-content.collapsed .menu-area ul li:hover  > ul.submenu{
background: #004484;
    display: block;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 57px;
    min-width: 230px;
    list-style: none;
    z-index: 999;
        max-height: 355px;
    overflow-y: auto;
}

div.dashboard-container-content.collapsed .menu-area ul li:hover  > ul.submenu li a span{
    display:block;
}

div.dashboard-container-content.collapsed .menu-area ul li:hover > ul.submenu li a i {
    visibility: hidden;
    display: none;
}

div.dashboard-container-content.collapsed .menu-area ul li > a span{
    display:none;
}

ul#menu_k li ul li a.active_focus{
    background: rgba(0,0,0,0.30);
    font-weight:500;
}