
@model MesaDinero.Domain.Model.RegistroResponse

<div class="content-area" style="grid-template-columns: auto; background-color: #fff;">
    <person-registration>
        <div class="register-auction-content">
            <div class="register-auction-body register-container" data-bind="with:$root.Persona">
                <div class="main-header-container">

                    <div class="main-title">Mis Datos</div>
                    @*<div class="main-parragraph">
                        Este proceso es rápido y por única vez, para cumplir con la normativa de concocer
                        al cliente regulado por la Unidad de Inteligencia Financiera UIF - SBS.
                    </div>*@


                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <div class="register-container-block block-1-1">

                    <fancy-input id="person-reg-document" placeholder="N° de Documento">
                        <div class="fancy-input-content">
                            <div class="fake-placeholder">Tipo de Documento</div>
                            <select @if (!Model.editar) { <text> disabled </text>    } class="custom-select" data-bind="value:tipoDocumento">
                                <option value="">--Seleccionar--</option>
                                <option value="CE">CE</option>
                                <option value="DNI">DNI</option>
                            </select>
                        </div>
                    </fancy-input>


                    <fancy-input id="person-reg-document" placeholder="N° de Documento"><div class="fancy-input-content"><div class="fake-placeholder">N° de Documento</div><input value="" type="text" data-bind="value:nroDocumento" readonly="readonly"></div></fancy-input>
                    <fancy-input id="person-reg-name" placeholder="Nombres"><div class="fancy-input-content"><div class="fake-placeholder">Nombres</div><input type="text" data-bind="value:nombres" @if (!Model.editar) { <text> disabled </text>    }></div></fancy-input>
                    <fancy-input id="person-reg-lastname" placeholder="Apellido Paterno"><div class="fancy-input-content"><div class="fake-placeholder">Apellido Paterno</div><input value="" type="text" data-bind="value:apePaterno" @if (!Model.editar) { <text> disabled </text>    }></div></fancy-input>
                    <fancy-input id="person-reg-lastname2" placeholder="Apellido Matesrno"><div class="fancy-input-content"><div class="fake-placeholder">Apellido Materno</div><input value="" type="text" data-bind="value:apeMaterno" @if (!Model.editar) { <text> disabled </text>    }></div></fancy-input>

                    <fancy-input id="person-reg-phone" placeholder="Teléfono Celular">
                        <div class="fancy-input-content ">
                            <div class="fake-placeholder">Fecha de Nacimiento</div>
                            <div class="grid-3">
                                <div>
                                    <fancy-input id="person-reg-document" placeholder="N° de Documento">
                                        <div class="fancy-input-content">
                                            <select @if (!Model.editar) { <text> disabled </text>   } class="custom-select" data-bind="value:fnDia">
                                                <option value="">Día</option>
                                                @for (int i = 1; i < 32; i++)
                                                {
                                                    <option value="@i">@string.Format("{0:0#}", i)</option>
                                                }
                                            </select>
                                        </div>
                                    </fancy-input>
                                </div>

                                <div>
                                    <fancy-input id="person-reg-document" placeholder="N° de Documento">
                                        <div class="fancy-input-content">
                                            <select @if (!Model.editar) { <text> disabled </text>   } class="custom-select" data-bind="value:fnMes">
                                                <option value="">Mes</option>
                                                <option value="1">Enero</option>
                                                <option value="2">Febrero</option>
                                                <option value="3">Marzo</option>
                                                <option value="4">Abril</option>
                                                <option value="5"> mayo</option>
                                                <option value="6">Junio</option>
                                                <option value="7">Julio</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Septiembre</option>
                                                <option value="10">Octubre</option>
                                                <option value="11">Noviembre</option>
                                                <option value="12">Diciembre</option>
                                            </select>
                                        </div>
                                    </fancy-input>
                                </div>

                                <div>
                                    <fancy-input id="person-reg-document" placeholder="N° de Documento">
                                        <div class="fancy-input-content">
                                            <select @if (!Model.editar) { <text> disabled </text>   } class="custom-select" data-bind="value:fnAnio">
                                                <option value="">Año</option>
                                                @{
                                                    var anhioLast = DateTime.Now.Year - 17;
                                                    var anhioInit = anhioLast - 70;
                                                }
                                                @for (int i = anhioInit; i < anhioLast; i++)
                                                {
                                                    <option value="@i">@string.Format("{0}", i)</option>
                                                }
                                            </select>
                                        </div>
                                    </fancy-input>
                                </div>

                            </div>



                        </div>
                    </fancy-input>
                    <fancy-input id="person-reg-email" placeholder="E-mail"><div class="fancy-input-content"><div class="fake-placeholder">E-mail</div><input value="" type="text" data-bind="value:email" @if (!Model.editar) { <text> disabled </text>    } /></div></fancy-input>
                    <fancy-input id="person-reg-birthdate" placeholder="Fecha de Nacimiento (DD/MM/AA)">
                        <div class="fancy-input-content">
                            <div class="fake-placeholder">Teléfono Celular</div>
                            <div class="grid-2">
                                <div>
                                    <fancy-input id="person-reg-document" placeholder="N° de Documento">
                                        <div class="fancy-input-content">
                                            <select @if (!Model.editar) { <text> disabled </text>   } class="custom-select" data-bind="value:preCelular">
                                                <option value="">--</option>-
                                                <option value="51">+51</option>
                                                <option value="54">+54</option>
                                                <option value="55">+55</option>
                                                <option value="56">+56</option>
                                                <option value="61">+61</option>
                                            </select>
                                        </div>
                                    </fancy-input>

                                </div>
                                <div>
                                    <fancy-input id="person-reg-country" placeholder="Celular"><div class="fancy-input-content"><div class="fake-placeholder">Celular</div><input value="" type="text" data-bind="value:celular" disabled></div></fancy-input>
                                </div>

                            </div>
                        </div>
                    </fancy-input>



                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <div class="sub-title-normal" id="short">Tu Dirección</div>
                <div class="block-1-1-2">
                    <fancy-input id="person-reg-document" placeholder="">
                        <div class="fancy-input-content">
                            <div class="fake-placeholder">País</div>
                            <select @if (!Model.editar) { <text> disabled </text>   } id="combo_pais_persona" class="custom-select k-choseen" data-bind="options:$root.lstPaises,optionsText:'text',optionsValue:'value',optionsCaption:'--Seleccionar--',value:$data.pais"></select>
                        </div>
                    </fancy-input>


                    <fancy-input id="person-reg-document" placeholder="">
                        <div class="fancy-input-content">
                            <div class="fake-placeholder">Departamento</div>
                            <select @if (!Model.editar) { <text> disabled </text>   } id="combo_departamento_persona" class="custom-select k-choseen" data-bind="options:$data.lstaDepartamento,optionsText:'text',optionsValue:'value',optionsCaption:'--Seleccionar--',value:$data.departamento"></select>
                        </div>
                    </fancy-input>

                    <fancy-input id="person-reg-document" placeholder="">
                        <div class="fancy-input-content">
                            <div class="fake-placeholder">Provincia</div>
                            <select @if (!Model.editar) { <text> disabled </text>   } id="combo_provincia_persona" class="custom-select k-choseen" data-bind="options:$data.lstProvincia,optionsText:'text',optionsValue:'value',optionsCaption:'--Seleccionar--',value:$data.provincia"></select>
                        </div>
                    </fancy-input>

                    <fancy-input id="person-reg-document" placeholder="">
                        <div class="fancy-input-content">
                            <div class="fake-placeholder">Distrito</div>
                            <select @if (!Model.editar) { <text> disabled </text>  } id="combo_deistrito_persona" class="custom-select k-choseen" data-bind="options:$data.lstDistrito,optionsText:'text',optionsValue:'value',optionsCaption:'--Seleccionar--',value:$data.distrito"></select>
                        </div>
                    </fancy-input>

                    <fancy-input id="person-reg-address" placeholder="Dirección"><div class="fancy-input-content"><div class="fake-placeholder">Dirección</div><input @if (!Model.editar) { <text> disabled </text>  } value="" type="text" data-bind="value:direccion"></div></fancy-input>
                </div>
                <div class="block-1-2">
                    <div class="sub-title-normal">Tu Información Laboral</div>

                    <div class="block-1-2-2">

                        <fancy-input id="person-reg-document" placeholder="N° de Documento">
                            <div class="fancy-input-content">
                                <div class="fake-placeholder">Origen de fondos</div>
                                <select @if (!Model.editar) { <text> disabled </text> } class="custom-select" data-bind="options:$root.lstOrigenFondos,optionsText:'text',optionsValue:'value',optionsCaption:'--Seleccionar--',value:origenFondos"></select>
                            </div>
                        </fancy-input>

                        <fancy-input id="person-reg-document" placeholder="Situación Laboral">

                            <div class="checkboxes">
                                <div class="fancy-input-content">
                                    <div class="chk-sub-title">Situación Laboral:</div>
                                    <custom-checkbox class="chx-1" text-content="Dependiente">
                                        <label class="k-content-radio">
                                            <input type="radio" name="SituacionLaboral" value="D" data-bind="checked:sictuacionLaboral" @if (!Model.editar) { <text> disabled </text> } />
                                            <div class="k-radioButtom-icon"></div>
                                            Dependiente
                                        </label>
                                    </custom-checkbox>
                                    <custom-checkbox class="chx-2" text-content="Independiente">
                                        <label class="k-content-radio">
                                            <input type="radio" name="SituacionLaboral" value="I" data-bind="checked:sictuacionLaboral" @if (!Model.editar) { <text> disabled </text> } />
                                            <div class="k-radioButtom-icon"></div>
                                            Independiente
                                        </label>
                                    </custom-checkbox>
                                    </div>
                                </div>
                        </fancy-input>

                            <div class="checkboxes">
                                <div class="chk-sub-title">Es una persona politicamente expuesta:</div>
                                <custom-checkbox class="chx-1" text-content="Sí">
                                    <label class="k-content-radio">
                                        <input type="radio" name="Expuesto" value="S" data-bind="checked:expuesto" @if (!Model.editar) { <text> disabled </text> } />
                                        <div class="k-radioButtom-icon"></div>
                                        Sí
                                    </label>
                                </custom-checkbox>
                                <custom-checkbox class="chx-2" text-content="No">
                                    <label class="k-content-radio">
                                        <input type="radio" name="Expuesto" value="N" data-bind="checked:expuesto" @if (!Model.editar) { <text> disabled </text> } />
                                        <div class="k-radioButtom-icon"></div>
                                        No
                                    </label>
                                </custom-checkbox>
                            </div>
                            <!-- ko if:expuesto() == "S" -->
                            <fancy-input class="fi-1" placeholder="Entidad Pública">
                                <div class="fancy-input-content selected">
                                    <div class="fake-placeholder">Entidad Pública</div>
                                    <input value="" type="text" data-bind="value:entidadNombreExpuesto" @if (!Model.editar) { <text> disabled </text> }>
                                </div>
                            </fancy-input>
                            <fancy-input class="fi-2" placeholder="Cargo">
                                <div class="fancy-input-content selected">
                                    <div class="fake-placeholder">Cargo</div>
                                    <input value="" type="text" data-bind="value:cargoExpuesto" @if (!Model.editar) { <text> disabled </text> }>
                                </div>
                            </fancy-input>
                            <!-- /ko -->


                    </div>
                   
                </div>
            </div>
        </div>
    </person-registration>
</div>


