@{

}
@*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<link href="~/Content/css/ficha-datos.css" rel="stylesheet" />
<link href="~/Content/css/registration/person-registration/layout.css" rel="stylesheet" />*@

@section Styles{

    <!-- Subasta -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/user-area-adjustments.css">
    <link href="~/Content/css/ficha-datos.css" rel="stylesheet" />
    <link href="~/Content/css/registration/person-registration/layout.css" rel="stylesheet" />

}

<style>
    .register-container-block.block-1-1 {
        grid-template-rows: none !important;
    }
</style>


<div class="complex-dashboard-content">
    <div class="list-container">
        <div class="operations operations-c">
            <a data-bind="click:$root.openModalAdd" class="btn btn-primary btn-xs" style="max-width:120px;position: relative;display: block;padding: 5px 0;">
                <i class="glyphicon glyphicon-plus" style="display: inline-block;"></i>
                <span style="display: inline-block;">Agregar</span>
            </a>
            <dashboard-list>
                <div>

                    <div class="table-responsive" data-bind="with:$root.lstActividad">
                        <table class="k-table k-thover k-trow-pointer">
                            <thead class="k-thead">
                                <tr class="k-throw">
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Logo</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="k-tbody" data-bind="foreach:$data.datasource">
                                <tr>
                                    <td>
                                        <span data-bind="text:$data.codigo"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text:$data.nombre"></span>
                                    </td>
                                    <td>
                                        <img width="55px" height="18px" data-bind="attr:{src: $data.logo,id:'logo_' + $data.codigo()}" /> 
                                    </td>
                                    <td>
                                        <span data-bind="text:$data.tipo"></span>
                                    </td>
                                    
                                    <td>
                                        <span data-bind="text:$data.nombreEstado"></span>
                                    </td>
                                    <td>
                                        <a title="Editar" data-bind="click:$root.openModalEdit"><i class="glyphicon glyphicon-pencil"></i></a>
                                        &emsp;
                                        <a title="Eliminar" data-bind="click:$root.openModalEliminar"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.Partial("_Pagination")
                    </div>

                </div>
            </dashboard-list>
        </div>
    </div>
</div>

<br />
<br />

<div class="popup-container hidden ficha-popup ficha-person" id="ficha_add">
    <div class="popup" style="width: 65%;">
        <span class="cross"></span>
        <div class="popup-content">
            <person-registration>
                <div class="register-auction-content" data-bind="with:$root.actividadAddContext">
                    <div class="register-auction-body register-container">
                        <div class="main-header-container">
                            <div class="main-title">Agregar Entidad Financiera</div>
                        </div>
                        <div class="register-container-block block-1-1">
                            <fancy-input id="person-reg-document" class="selected" placeholder="Codigo">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Codigo</div>
                                    <input data-bind="value:$data.codigo" maxlength="10"  type="text">
                                </div>
                            </fancy-input>

                            <fancy-input id="person-reg-document" class="selected" placeholder="Nombre">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Nombre</div>
                                    <input data-bind="value:$data.nombre" maxlength="150" type="text">
                                </div>
                            </fancy-input>
                        </div>

                        <div class="register-container-block block-1-1">
                            <fancy-input id="person-reg-document" class="selected" placeholder="FormatoCB">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">FormatoCB</div>
                                    <input data-bind="value:$data.formatoCB" maxlength="25" type="text">
                                </div>
                            </fancy-input>
                            <fancy-input id="person-reg-document" class="selected" placeholder="FormatoCCI">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">FormatoCCI</div>
                                    <input data-bind="value:$data.formatoCCI" maxlength="25" type="text">
                                </div>
                            </fancy-input>

                        </div>

                        <div class="register-container-block block-1-1">
                           
                            @*<fancy-input id="person-reg-document" class="selected" placeholder="Tipo">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Tipo</div>
                                    <input data-bind="value:$data.tipo" maxlength="170" type="text">
                                </div>
                            </fancy-input>*@

                            <fancy-input id="person-reg-document" class="selected" placeholder="logo">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Logo</div>

                                    @*<input data-bind="value:$data.logo" maxlength="170" type="text">*@
                                    <input type="file" id="fu_imagen" accept=".png, .jpg, .jpeg" style="padding-top:7px;" />
                                </div>
                            </fancy-input>

                            <fancy-input id="person-reg-document" class="selected" placeholder="Estado">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Tipo</div>
                                    <select class="custom-select" data-bind="value:$data.tipo">
                                        <option value="">--Seleccionar--</option>
                                        <option value="B">Banco</option>
                                        <option value="P">Proveedor</option>
                                    </select>
                                </div>
                            </fancy-input>
                        </div>

                        <div class="register-container-block block-1-1">

                         

                            <fancy-input id="person-reg-document" class="selected" placeholder="Estado">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Estado</div>
                                    <select class="custom-select" data-bind="value:$data.estado">
                                        <option value="">--Seleccionar--</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </fancy-input>
                        </div>

                      
                        <div class="block-1-3">
                            <div class="observations">

                            </div>
                            <div class="button-row">
                                <div class="btn btn-green" data-bind="click:$root.addNew"><span class="btn-text">Guardar</span></div>
                                <div class="btn btn-red" data-bind="click:$root.closeModalAdd"><span class="btn-text">Cancelar</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </person-registration>
        </div>
    </div>
</div>

<div class="popup-container hidden ficha-popup ficha-person" id="ficha_edit">
    <div class="popup" style="width: 65%;">
        <span class="cross"></span>
        <div class="popup-content">
            <person-registration>
                <div class="register-auction-content" data-bind="with:$root.actividadEditContext">
                    <div class="register-auction-body register-container">
                        <div class="main-header-container">
                            <div class="main-title">Editar Entidad Financiera</div>
                        </div>
                        <div class="register-container-block block-1-1">
                            <fancy-input id="person-reg-document" class="selected" placeholder="Codigo">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Codigo</div>
                                    <input data-bind="value:$data.codigo" disabled maxlength="10" type="text">
                                </div>
                            </fancy-input>

                            <fancy-input id="person-reg-document" class="selected" placeholder="Nombre">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Nombre</div>
                                    <input data-bind="value:$data.nombre" maxlength="150" type="text">
                                </div>
                            </fancy-input>
                        </div>

                        <div class="register-container-block block-1-1">
                            <fancy-input id="person-reg-document" class="selected" placeholder="FormatoCB">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">FormatoCB</div>
                                    <input data-bind="value:$data.formatoCB" maxlength="25" type="text">
                                </div>
                            </fancy-input>
                            <fancy-input id="person-reg-document" class="selected" placeholder="FormatoCCI">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">FormatoCCI</div>
                                    <input data-bind="value:$data.formatoCCI" maxlength="25" type="text">
                                </div>
                            </fancy-input>

                        </div>

                        <div class="register-container-block block-1-1">
                            <fancy-input id="person-reg-document" class="selected" placeholder="logo">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Logo</div>

                                    <input type="file" id="fu_imagen_edit" accept=".png, .jpg, .jpeg" style="padding-top:7px;" />
                                </div>
                            </fancy-input>

                            <fancy-input id="person-reg-document" class="selected" placeholder="Estado">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Tipo</div>
                                    <select class="custom-select" data-bind="value:$data.tipo">
                                        <option value="">--Seleccionar--</option>
                                        <option value="B">Banco</option>
                                        <option value="P">Proveedor</option>
                                    </select>
                                </div>
                            </fancy-input>
                        </div>

                        <div class="register-container-block block-1-1">
                           

                            <fancy-input id="person-reg-document" class="selected" placeholder="Estado">
                                <div class="fancy-input-content">
                                    <div class="fake-placeholder">Estado</div>
                                    <select class="custom-select" data-bind="value:$data.estado">
                                        <option value="">--Seleccionar--</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </fancy-input>
                        </div>



                        <div class="block-1-3">
                            <div class="observations">

                            </div>
                            <div class="button-row">
                                <div class="btn btn-green" data-bind="click:$root.editar"><span class="btn-text">Guardar</span></div>
                                <div class="btn btn-red" data-bind="click:$root.closeModalEdit"><span class="btn-text">Cancelar</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </person-registration>
        </div>
    </div>
</div>

<div class="popup-container confirmation-popup hidden" style="z-index: 2000" id="modal_remove">
    <div class="popup" style="min-width: 270px;" data-bind="with:$root.actividadEliminarContext">
        <span class="cross"></span>
        <div class="popup-content alert" style="    font-size: 15px;">
            <div class="exclamation-circle">!</div>
            <div class="alert-title">Eliminar Entidad Financiera</div>
            <div class="alert-subtitle">¿Está seguro de continuar?</div>
            <div class="btn blue-style" data-bind="click:$root.eliminar" style="height: 26px;max-width: 30%;font-size: 11px;margin-top: 10px;"><span class="btn-text">Aceptar</span></div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/Content/js/app/Configuracion/EntidadesFinancieras.js"></script>
}
