contact-area > .contact-area-content {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
contact-area > .contact-area-content > .contact-border {
	border: 1.5px solid #4d4d4d;
	border-radius: 1vw;
	place-self: start start;
	padding: 2vh 2.1vw 2vh 2.1vw;
	cursor: pointer;
}
contact-area > .contact-area-content > .contact-border:last-child {
	border-width: 2px;
	border-color: #236a94;
	padding: 1vh 2.5vw 1vh 2.5vw;
	border-radius: 1vw;
	background-color:var(--btn-blue);
}
contact-area > .contact-area-content > .contact-border > * {
	font-family: 'Helvetica Neue Roman';
	
}
contact-area > .contact-area-content > .contact-border > input {
	outline: none;
	border: none;
	font-size: 1.3vw;
	color: #4d4d4d;
	width: 80%;
}
contact-area > .contact-area-content > .contact-border > .btn-s{
	background-color: aqua;
}
contact-area > .contact-area-content > .contact-border > span {
	font-size: 1.7vw;
	color: #fff;
}
contact-area > .contact-area-content > .btn-s:hover {
	background-color: #236a94;
	color: #fff;
}
