/*Corfid A*/
.corfid-a {
	height: 480px;
	display: grid;
	place-items: center;
}
.corfid-a dashboard-list {
	width: 87%;
	height: 80%;
}

/*Corfid B*/
.corfid-b {
	height: 500px;
	display: grid;
	grid-template-rows: 1fr 3fr;
}
.corfid-b .indicators {
	display: grid;
	place-self: center;
	width: 80%;
	grid-template-columns: 1fr 1fr 1fr 3fr;
}
.corfid-b .indicator-title {
	font-size: .6em;
	color: #b3b3b3;
	margin-bottom: 1vh;
}
.corfid-b .indicator-value {
	font-size: 1em;
	font-family: 'Helvetica Neue Roman';
	color: var(--btn-blue);
}
.corfid-b dashboard-list {
	place-self: center;
	width: 80%;
}

/*Corfid C*/
.corfid-c {
	height: 460px;
	display: grid;
	place-items: center;
}
.corfid-c dashboard-list {
	width: 87%;
	height: 80%;
}

/*Corfid D*/
.corfid-d {
	height: 500px;
	display: grid;
	margin-top: 4vh;
	grid-template-rows: 5vh 50px 2fr;
	grid-template-columns: 1fr 1.5fr 180px 50px;
	grid-template-areas:
		". . btn ."
		". . . ."
		"list list list ."
}
.corfid-d .btn {
	grid-area: btn;
}
.corfid-d dashboard-list {
	grid-area: list;
}

/*Corfid E*/
.corfid-e {
	height: 470px;
	display: grid;
	grid-template-rows: 3% 1.5fr .8fr .7fr 3%;
	grid-template-columns: 5% auto 5%;
	grid-template-areas:
		". . ."
		". list ."
		". ob ."
		". btns ."
		". . .";
}
.corfid-e dashboard-list {
	grid-area: list;
	padding-left: 0;
	height: auto;
	align-self: center;
}
.corfid-e dashboard-list .items .list-i,
.corfid-e dashboard-list .headers {
	grid-template-columns: .5fr .8fr 1fr .8fr repeat(3, .6fr) .8fr repeat(3, 1fr) !important;
	font-size: 15px;
}
.corfid-e .observations {
	grid-area: ob;
	border-bottom: .5px solid #e2e2e2;
	padding-left: 5%;
}
.corfid-e .observations .observations-title {
	font-family: 'Helvetica Neue Roman';
	color: var(--btn-blue);
	font-size: .8em;
	margin-bottom: 1vh;
}
.corfid-e .observations textarea {
	border-radius: 6px;
	border-color: #e6e6e6;
	border-width: 2px;
	outline: none;
	padding: 1vh 1vw 1vh 1vw;
}
.corfid-e .button-row {
	grid-area: btns;
	display: grid;
	place-self: stretch;
	grid-template-columns: 1fr 1fr 3fr;
}
.corfid-e .button-row .btn {
	place-self: center;
	height: 5vh;
	width: 90%;
	font-size: .8em;
}
/*Corfid F*/
.corfid-f {
	padding: 6vh 8vw 14vh 8vw;
}
.corfid-f > div {
	font-family: 'Helvetica Neue Roman';
	color: var(--btn-blue);
	margin-bottom: 3vh;
}
.corfid-f .bank-list-item {
	grid-template-columns: 15% 20% 15% repeat(3, auto) !important;
}
.corfid-f .list-col.trash {
	display: none;
	width: none;
	grid-column: unset;
	grid-row: unset;
}

/*Corfid G*/
.corfid-g {
	padding: 14vh 8vw 5vh 8vw;
}
.corfid-g .bank-list,
.corfid-g .bank-form {
	margin-bottom: 4vh;
}
.corfid-g > .btn {
	height: 5vh;
	font-size: .8em;
	width: 14vw;
}
